<div>
    <p>{{data.description}}</p>
    <p>{{data.goals}}</p>
    <p>{{data.goalCompletionMethods}}</p>
    {{#if data.operatesSecretly}}
        <p>Operates secretly.</p>
    {{/if}}
    {{#each data.roles}}
        <section>
            <h4><b>{{this.title}}</b></h4>
            <div class="fantasy-town-generator-summary-list">
                {{#if (towngenNotEmpty this.people)}}
                    {{#each this.people}}
                        <button
                                name="{{this.firstName}} {{this.lastName}}"
                                id="fantasy-town-generator-faction-person"
                                class="fantasy-town-generator-summary-button"
                                data-time="{{../../data.time}}"
                                data-person="{{towngenJson this}}">
                            <i class="fas fa-user"></i>
                            {{this.firstName}} {{this.lastName}}
                        </button>
                    {{/each}}
                {{else}}
                    No members
                {{/if}}
            </div>
        </section>
    {{/each}}
    {{#if (towngenNotEmpty data.notes)}}
        <h5>FTG Notes</h5>
        <br/>{{data.notes}}
    {{/if}}
</div>
