<div>
    <p>
    {{data.age}} year old {{towngenLowercaseEnum data.gender}}
    {{#if (towngenNotEmpty data.job)}}
        {{towngenLowercaseEnum data.race}} {{towngenLowercaseEnum data.job.title}}.
    {{else}}
        {{towngenLowercaseEnum data.race}}.
    {{/if}}
    </p>
    {{#if (towngenNotEmpty data.currentStatus)}}
        <p>Currently {{towngenLowercaseEnum data.currentStatus}}.</p>
    {{/if}}
    <div class="fantasy-town-generator-action-row">
        <button
            name="building notes"
            id="fantasy-town-generator-person-notes"
            data-id="{{data.id}}"
            data-name="{{data.name}}"
            data-notes="{{data.notes}}"
            data-public-notes="{{data.publicNotes}}"
            data-public-can-write-notes="{{data.publicCanWriteNotes}}">
            Notes
        </button>
        {{#if (towngenIsGm)}}
            <button name="favourite person" id="fantasy-town-generator-person-favourite" data-id="{{data.id}}" data-favourite="{{data.favourite}}">
                {{#if data.favourite}}
                    Unfavourite
                {{else}}
                    Favourite
                {{/if}}
            </button>
        {{/if}}
    </div>
    <section>
        <h3>Appearance</h3>
        {{#with data.appearance.hair}}
        {{#if (towngenIsBald hairLength)}}
            Is bald.
        {{else}}
            <p>Has {{towngenLowercaseEnum hairLength}}, {{towngenLowercaseEnum hairTexture}}, {{towngenLowercaseEnum hairColour}} hair.</p>
        {{/if}}
        {{/with}}
        <p>Has {{towngenLowercaseEnum data.appearance.eyeColour}} eyes.</p>
        <p>Has {{towngenSkinTone data.appearance.skinTone}} skin.</p>
        <p>Stands {{data.appearance.heightCm}}cm tall ({{towngenFeet data.appearance.heightCm}}) and has {{towngenAOrAn data.appearance.build}} {{towngenLowercaseEnum data.appearance.build}} build.</p>
    </section>
    <section>
        <h3>Personality</h3>
        {{#if (towngenNotEmpty data.personality)}}
            <p>{{data.personality}}</p>
        {{/if}}
        {{#if (towngenNotEmpty data.customPersonality)}}
            <p>{{data.customPersonality}}</p>
        {{/if}}
        {{#if (towngenNotEmpty data.hobbies)}}
            <p>{{data.hobbies}}</p>
        {{/if}}
        {{#if (towngenNotEmpty data.interactionMannerism)}}
            <p>{{data.interactionMannerism}}</p>
        {{/if}}
        {{#if (towngenNotEmpty data.religion)}}
            <p>{{towngenCapitalizePronoun data.gender}} worships {{data.religion}}.</p>
        {{/if}}
        {{#if (towngenNotEmpty data.goal)}}
            <p>{{data.goal}}</p>
        {{/if}}
    </section>
    <section>
        <h3>Stats</h3>
        <div class="fantasy-town-generator-stats-container">
            {{#each data.stats}}
                <div class="fantasy-town-generator-stat">
                    <b>{{this.name}}</b>
                    <p>{{this.value}}</p>
                </div>
            {{/each}}
        </div>
    </section>
</div>
